/* Style for the menu icon */
.menu-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  /* Styling for the icon bars */
  .menu-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    margin-bottom: 4px;
  }
  
  /* Style for the search bar */
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px;
    margin-left: 16px;
    width: 200px;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 4px;
  }
  
  .search-bar i {
    margin-right: 4px;
  }
  
  /* Style for the side toggle bar */
  .side-bar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    transition: left 0.3s ease-in-out;
    display: none;
  }
  
  /* Style to show the side toggle bar */
  .side-bar.open {
    left: 0;
    display: block;
  }
  